/* TYPE EFFECT */
@-webkit-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
#typed-cursor{
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

/*NAV */
nav{
	background-color: #E1004B !important;
}
nav ul a.active {
  background: rgba(0,0,0,0.2);
}
.logotype {
	width: 60px;
	margin-top: 0.5rem;
}
#particles-js{
	background: #181624;
	width: 100%;
	height: 100vh;
	position: relative;
}
.heart{
	font-size: 75px;
}
.text{
	font-size: 95px;
	color: #FFF;
	font-weight: bold;
	z-index: 3;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*ABOUT ME*/
.box-info{
	width: 100%;
	height: 100vh;
	background-color: #E1004B;
	transition: all 1s ease, opacity 1.5s ease;
	opacity: 1;
}
.distinction{
	color: #FFF;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}
#about{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #FFF;	
}
.img-profile{
	width: 50vh;
	height: 50vh;
	margin-top: 3rem;
}
.box-one{
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 8rem;
    margin-bottom: 12rem;
}
#introduction{
	font-size: 16px;
	color: #FFF;	
}
.lab{
	width: 18vh;
	margin-right: 1rem;
}
#introduction span{
	background-color: #FFF;
	color: #E1004B;
}
/*SKILLS*/
#skills{
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 5rem;
    background-color: #FFF;	
}
#skill-set, .title-contact h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #3D3560;	
	font-size: 35px;
}
.gif{
	width: 70%;
	padding-top: 7rem;
}
.icon{
	font-size: 60px;
	color: #E1004B;
	cursor: pointer;
}
.tool h5{
	font-size: 18px;
	font-weight: bold
	color: #3D3560;
}
.tool p{
	font-size: 14px;
}
#animated-gif{
	width: 50vh;
	margin-top: 1rem;
}
.html5:hover{
	color: #E44D26;
}
.css3:hover{
	color: #1B73BA;
}
.git:hover{
	color: #F34F29;
}
.jquery:hover{
	color: #006BA9;
}
.bootstrap:hover{
	color: #542748;
}
.psd:hover{
	color: #000859;
}
.ai:hover{
	color: #FC5107;
}
.js:hover{
	color: #FFD726;
}
/* PROJECTS */
.background-three{
	width: 100%;
	height: auto;
	background-color: #E1004B;
}
.title-work h1{
	color: #FFF;
	font-size: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;	
}
.right, .card a{
	color: #E1004B;
}
.work{
	padding-top: 4rem;
}
.card-title{
	font-size: 20px !important;
	color: #181624;
}

/* CONTACT */
.background-four{
	width: 100%;
	height: auto;
}
.fa{
	font-size: 50px;
	margin: 0 2rem;
	color: #3D3560;
	cursor: pointer;
	padding-top: 5rem;
}
.fa:hover{
	color: #2C2649;
}
.contactme h4, .contactme h5{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #E1004B;
}
.contactme h4{
	font-size: 30px;
}
.cv{
	padding-top: 2rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #E1004B;
	font-size: 20px;
}
.btn-floating{
	background-color: #E1004B !important;
	padding-bottom: 2rem;
}

/* FOOTER */
footer{
	background-color: #E1004B;
	height: 3.5rem;
}
h6{
	color: #FFF;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
