@media only screen and (max-width : 768px){
	.text{
		font-size: 26px;
	}
	.logotype {
		margin-top: 0.5rem;
		width: 50px;
	}
	.heart{
		font-size: 22px;
	}
	.box-one{
    	height: 710px;
    	padding-top: 0;
	}
	.box-info{
		height: auto;
	}
	#skills{
    	height: auto;
	}
	.gif{
		width: 80%;
		padding-top: 0;
	}
	.lab{
		width: 12vh;
	}
	.fa{
		font-size: 40px;
		margin: 0 1rem;
	}
	h6{
		font-size: 12px;
	}
}